.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
  font-family: 'Arial', sans-serif;
}

h2 {
  color: #ffffff;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 15px;
}

label {
  color: #ffffff;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #f5576c;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f093fb;
  cursor: pointer;
}


.update-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.update-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.update-form-container label {
  margin-top: 10px;
  font-weight: bold;
}

.update-form-container input, 
.update-form-container textarea {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.update-form-container button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
}

.update-form-container button:hover {
  background-color: #34495e;
}


.quizz{
  margin: 10%;
}

.course-container{
  margin: 5%;
}